<p id="notice"><%= notice %></p>

<p>
  <b>Album:</b>
  <%= @search_result.album_id %>
</p>

<p>
  <b>Tweet:</b>
  <%= @search_result.tweet_id %>
</p>

<p>
  <b>Is active:</b>
  <%= @search_result.is_active %>
</p>


<%= link_to 'Edit', edit_search_result_path(@search_result) %> |
<%= link_to 'Back', search_results_path %>
