
<% if @images.empty? %>
	No images found.
<% else %>
<div class="row">
	<h3>Recent photos of <%= link_to @term, "/search?q=" + @term %> taken from <%= time_ago_in_words(@images.first.created_at) if @images.first %> to <%= time_ago_in_words(@images.last.created_at) if @images.last %> ago</h3>
	</div>
	<div class="row" style="padding-bottom:4px;">
	<% if @paged_results['previous_page'] %>
		<%=link_to "Prev", search_prev_path(:url => @paged_results['previous_page'], :q => @term), :class => "info btn" %>
	<% else %>
		<%=link_to "Prev", search_prev_path(:url => @paged_results['previous_page'], :q => @term), :class => "disabled info btn" %>
	<% end %>
	<% if @paged_results['next_page'] %>
		<%=link_to "Next", search_next_path(:url => @paged_results["next_page"],:q => @term), :class => "info btn" %>
	<% else %>
		<%=link_to "Next", search_next_path(:url => @paged_results["next_page"],:q => @term), :class => "disabled info btn" %>
	<% end %>		
	<%=link_to "Slideshow", "/oldindex.html?q=" + @term, :class => "info btn", :target => "blank" %>
	<%=link_to "Refresh", search_path(:q => @term), :class => "info btn" %>
	
</div>	
<div class="grid">
	<% @images.each_slice(3) do |slice| %>
		<div class = "row ">
			<% slice.each do |image| %>
				<% if image %>
				<% if isLive?(image.image_url) %>
					<%= link_to(image_tag(image.image_url, :alt => "Picture.ly has a boo boo"), picture_path(:id => image.id)) %>
				<% end %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>
<% end %>