<%= form_for(@tweeter) do |f| %>
  <% if @tweeter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweeter.errors.count, "error") %> prohibited this tweeter from being saved:</h2>

      <ul>
      <% @tweeter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :profile_image_url %><br />
    <%= f.text_field :profile_image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
