<p id="notice"><%= notice %></p>

<p>
  <b>Hashtag:</b>
  <%= @album.hashtag %>
</p>

<p>
  <b>Shortcut:</b>
  <%= @album.shortcut %>
</p>

<p>
  <b>User:</b>
  <%= @album.user_id %>
</p>

<p>
  <b>Number picture:</b>
  <%= @album.number_picture %>
</p>

<p>
  <b>Number text tweet:</b>
  <%= @album.number_text_tweet %>
</p>

<p>
  <b>Number upload:</b>
  <%= @album.number_upload %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
