

<div class="row" style="padding-bottom:6px;"><fb:like send="true" width="450" show_faces="true"></fb:like>
</div>
<div class="row">

	<div class = "column eleven" >
		<%= link_to(image_tag(@picture.image_url, :alt => "Picture.ly has a boo boo", :style => "max-width:650px;min-width:320px;min-height:320px;"), @picture.url, :target => 'blank')%><div style="padding-top:9px;">
		<p><%= link_to_function "Back", "history.back()"%></p>
		</div>
	</div>
	<div class="column four" >
		
		
		<div style="background-color:#999;border-radius:8px;color:white;padding:10px;">
		<div class="row">
			<% user_pic = 'https://api.twitter.com/1/users/profile_image?screen_name='+@picture.user%>
			<%= link_to(image_tag(user_pic, :width => "50px", :style =>"border-radius:4px;"), 'http://www.twitter.com/'+ @picture.user, :target => 'blank') %>
			</div>
	<p>Photo by: <%= link_to(@picture.user,'http://www.twitter.com/'+ @picture.user, :target => 'blank') %></p>
	




<p>	<%= CGI::unescapeHTML(@picture.text) %></p>
<p>Taken <%= time_ago_in_words(@picture.created_at) %> ago</p>
Source: <%= link_to (@picture.image_host.titleize), @picture.url, :target => 'blank' %> </br>

	Tags:
	<% @picture.keywords.each do |keyword| %>
		<%= link_to keyword['term'], search_path(:q=>keyword['term']) %>
		<% end %>
	</div>
	
	
	</div>
	
	


</div>





	

