<script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'9b927ad2-a889-4c3d-b345-3e9bb1149361'});</script>

<div class="row" style="padding-top:30px;"><%= link_to_function "Back", "history.back()"%>
<span  class='st_facebook_large' ></span><span  class='st_twitter_large' ></span><span class="st_plusone_large"</span><span  class='st_tumblr_large' ></span><span  class='st_email_large' ></span></div>
<div class="row">

	<div class = "column eleven" >
		<%= link_to(image_tag(@picture.image_url, :alt => "Picture.ly has a boo boo", :style => "max-width:650px;min-width:320px;min-height:320px;"), @picture.url, :target => 'blank')%>
	</div>
	<div class="column four" style="background-color:#999;border-radius:8px;color:white;padding:10px;">
		<div class="row">
			<% user_pic = 'https://api.twitter.com/1/users/profile_image?screen_name='+@picture.user%>
			<%= link_to(image_tag(user_pic, :width => "50px", :style =>"border-radius:4px;"), 'http://www.twitter.com/'+ @picture.user, :target => 'blank') %>
			</div>
	<p>Photo by: <%= link_to(@picture.user,'http://www.twitter.com/'+ @picture.user, :target => 'blank') %></p>
	




<p>	<%= CGI::unescapeHTML(@picture.text) %></p>
<p>Taken <%= time_ago_in_words(@picture.created_at) %> ago</p>
Source: <%= link_to (@picture.image_host.titleize), @picture.url, :target => 'blank' %> </br>

	Tags:
	<% @picture.keywords.each do |keyword| %>
		<%= keyword['term'] %>
		<% end %>
	</div>


</div>




	

