<!DOCTYPE html>
<html>
  <head>
    
	<%= stylesheet_link_tag "application", "jquery.superbox"%>
	<%= javascript_include_tag(
	    "jquery-1.6.1.js",
	    "jquery.corner", "jquery.dropshadow", "imaiku_slider", "imaiku_show",
	    "classy", "searcher", "instagram_provider","instagramcom_provider",
	    "twitpic_provider", "yfrog_provider", "get-parameter-values",
	    "input-fadeout")
	    %>
	
    <%= csrf_meta_tag %>
	<title>Picture.ly</title>
  </head>
  <body>
	<div id="header">
		<div id="header-left">
			<%= link_to image_tag("LOGO_Website-Picturely.gif", {:width => "198", :height =>"39"}), "http://www.picture.ly" %>
		</div>
		<div id="header-right">
			<%= link_to "Signin", "http://signup.picture.ly/" %>
			
		</div>
	</div>	
	</div>
	<div id="container" style="padding-top:48px">
    <%= yield %>
</div>

  </body>
</html>
