<!DOCTYPE html>
<html>
  <head>
    
	<%= stylesheet_link_tag "application", "jquery.superbox"%>
	<%= javascript_include_tag(
	    "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js",
	    "jquery.corner", "jquery.dropshadow", "imaiku_slider",
	    "classy", "searcher", "instagram_provider",
	    "twitpic_provider", "yfrog_provider", "get-parameter-values",
	    "input-fadeout")
	    %>
	
    <%= csrf_meta_tag %>
	<title>Picture.ly</title>
  </head>
  <body>
	<div id="header">
		<div id="header-left">
			<%= image_tag "LOGO_Website-Picturely.gif", {:width => "198", :height =>"39"} %>
		</div>
		<div id="header-right">
			<% if signed_in? %>
					<%= @current_user.name %>
					<%= link_to " | Sign out", signout_path, :method => :delete %>
			<% else %>
			<%= link_to "Sign in", signin_path %>
			<% end %>
		</div>
	</div>	
	</div>
	<div id="container" style="padding-top:80px; position:fixed">
    <%= yield %>
</div>

  </body>
</html>
