<!DOCTYPE html>
<html>
  <head>

	<%= stylesheet_link_tag 'http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css', 'application' %>
	<%= javascript_include_tag :defaults %>
	<% javascript_tag do %>
	      var my_term = <%= strip_tags(@term.to_json) %>
	<% end %>
	
    <%= csrf_meta_tag %>
	<title><%= @title %></title>
	
	<!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","4e53e122cd85d3075aa48375a624fc0e"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
	</script><!-- end Mixpanel -->
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27162995-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </head>
  <body>
		
		<div class="container">
			<div class ="row" style="box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);padding-right:10px;">
			
			<%= link_to(image_tag("LOGO_Website-Picturely.gif", :width => '240px'),"/")%>
		
			<%= form_tag("/search", :method => "get", :style => "float:right;margin-top:9px;") do %>
			<%= label_tag(nil,'I want recent pics of', :style =>"padding-right:5px;font-size:1.1em;") %>
			  <%= search_field :q,nil,:style =>"font-size:1.1em;", :value => @term, :onfocus => "this.value=''" %>
			  <%= submit_tag("GO", :class => 'success btn') %>
			<% end %>
			</div>
			
			
	
	
			<%= yield %>
	

		<footer> 
			<div style="float:left;padding-bottom:6px;"><%= link_to("Picture.ly Tips - How to use Picture.ly",'/pages/about') %></div>
			<div style="float:right;"> <a href="http://mixpanel.com/f/partner"><img src="http://mixpanel.com/site_media/images/partner/badge_light.png" alt="Real Time Web Analytics" /></a></div></footer>
	</div>
	

	
		
			
			
	
    

	


  </body>
</html>
